@model GuildCars.Models.CarAddViewModel
@{
    ViewBag.Title = "addVehicle";

}

<h2>Add Vehicle</h2>

<div class="container">
    @using (Html.BeginForm("addVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary()
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    <label for="add-make" class="col-md-2 control-label">
                        Make:
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Car.MakeId, Model.Makes, new { @class = "form-control", id = "MakeDrop", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-model" class="col-md-2 control-label">
                        Model:
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Car.ModelId, Model.Models, new { @class = "form-control", id = "ModelDrop", required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-type" class="col-md-2 control-label">
                        Type:
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Car.Type, new List<SelectListItem>
                            {
                            new SelectListItem{ Text="New", Value = "New" },
                            new SelectListItem{ Text="Used", Value = "Used" },
                        })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-body" class="col-md-2 control-label">
                        Body Type:
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Car.Body, new List<SelectListItem>
                            {
                            new SelectListItem{ Text="SUV", Value = "SUV" },
                            new SelectListItem{ Text="Sedan", Value = "Sedan" },
                            new SelectListItem{ Text="Truck", Value = "Truck" },
                        })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-year" class="col-md-2 control-label">
                        Year:
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Car.Year, new { @class = "form-control", type = "number", placeholder = "Year", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-trans" class="col-md-2 control-label">
                        Transmisson:
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Car.Transmission, new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Automatic", Value = "Automatic" },
                            new SelectListItem{ Text="Manual", Value = "Manual" },
                        })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-ext-color" class="col-md-2 control-label">
                        Color:
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Car.ExColor, new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Black", Value = "Black" },
                            new SelectListItem{ Text="Silver", Value = "Silver" },
                            new SelectListItem{ Text="White", Value = "White" },
                            new SelectListItem{ Text="Red", Value = "Red" },
                            new SelectListItem{ Text="Blue", Value = "Blue" },
                        })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-int-color" class="col-md-2 control-label">
                        Interior Color:
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Car.IntColor, new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Black", Value = "Black" },
                            new SelectListItem{ Text="Tan", Value = "Tan" },
                            new SelectListItem{ Text="White", Value = "White" },
                            new SelectListItem{ Text="Grey", Value = "Grey" },
                            new SelectListItem{ Text="Rainbow", Value = "Rainbow" },
                        })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-mileage" class="col-md-2 control-label">
                        Mileage:
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Car.Mileage, new { @class = "form-control", type = "number", placeholder = "Mileage", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-vin" class="col-md-2 control-label">
                        VIN #:
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Car.VIN, new { @class = "form-control", type = "number", placeholder = "VIN", required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-msrp" class="col-md-2 control-label">
                        MSRP:
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Car.MSRP, new { @class = "form-control", type = "number", placeholder = "MSRP", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="add-price" class="col-md-2 control-label">
                        Price:
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Car.Price, new { @class = "form-control", type = "number", placeholder = "Price", required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="form-group">
                <label for="add-description" class="col-md-2 control-label">
                    Description:
                </label>
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Car.Description, new { @class = "form-control", type = "number", placeholder = "Description", required = "required" })
                </div>
            </div>
        </div>
        <br />



        <div class="row">
            <div class="col-md-2">
                <label for="add-picture" class="col-md-2 control-label">
                    Picture:
                </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ImageUpload, new { @class = "form-control", type = "file", placeholder = "Picture", accept = ".jpg,.png,.jpeg" })
                </div>
            </div>
        </div>
        <br />

        <button class="button1">Save</button>
        <br />
    }
</div>

@section scripts
{
    <script> 
        $('#MakeDrop').on('change', function () {
            $("#ModelDrop").empty();
            var make = $('#MakeDrop').val();
            if (make != "") {
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:63501/modellist/' + make,
                    success: function (data) {
                        $.each(data, function (index, item) {
                            var modelName = item.ModelName;
                            var modelId = item.ModelId

                            $('#ModelDrop').append('<option value="' + modelId + '">' + modelName + '</option>');

                        })

                    },
                    error: function () {
                        alert("NO");
                    }
                });
            }
        })
        </script>}